<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.learningandroid"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UIButtonActivity"
            android:label="@string/title_activity_uibutton" >
        </activity>
        <activity
            android:name=".UITextActivity"
            android:label="@string/title_activity_uitext" >
        </activity>
        <activity
            android:name=".UICheckboxActivity"
            android:label="@string/title_activity_uicheckbox" >
        </activity>
        <activity
            android:name=".UIRadioButtonActivity"
            android:label="@string/title_activity_uiradio_button" >
        </activity>
        <activity
            android:name=".UIToggleButtonActivity"
            android:label="@string/title_activity_uitoggle_button" >
        </activity>
        <activity
            android:name=".UISpinnerActivity"
            android:label="@string/title_activity_uispinner" >
        </activity>
    </application>

</manifest>
