<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.learningandroid"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UIButtonActivity"
            android:label="@string/title_activity_uibutton" >
        </activity>
        <activity
            android:name=".UITextActivity"
            android:label="@string/title_activity_uitext" >
        </activity>
        <activity
            android:name=".UICheckboxActivity"
            android:label="@string/title_activity_uicheckbox" >
        </activity>
        <activity
            android:name=".UIRadioButtonActivity"
            android:label="@string/title_activity_uiradio_button" >
        </activity>
        <activity
            android:name=".UIToggleButtonActivity"
            android:label="@string/title_activity_uitoggle_button" >
        </activity>
        <activity
            android:name=".UISpinnerActivity"
            android:label="@string/title_activity_uispinner" >
        </activity>
        <activity
            android:name=".UIPickerActivity"
            android:label="@string/title_activity_uipicker" >
        </activity>
        <activity
            android:name=".UserNotificationCustomToastActivity"
            android:label="@string/title_activity_user_notification_custom_toast" >
        </activity>
        <activity
            android:name=".UserNotificationCustomNotificationActivity"
            android:label="@string/title_activity_user_notification_custom_notification" >
        </activity>
        <activity
            android:name=".UNCustomNotificationPendingActivity"
            android:label="@string/title_activity_uncustom_notification_pending" >
        </activity>
        <activity
            android:name=".BroadcastReceiverSingleStaticActivity"
            android:label="@string/title_activity_broadcast_receiver_single_static"
            android:permission="com.learningandroid.permission.TOAST_PERMISSION" >
        </activity>

        <receiver android:name=".receiver.SingleStaticBroadcastReceiver" >
            <intent-filter>
                <action android:name="com.learningandroid.action.CUSTOM_INTENT_TOAST" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".SocketHttpGetActivity"
            android:label="@string/title_activity_socket_http_get" >
        </activity>
        <activity
            android:name=".HttpURLConnectionActivity"
            android:label="@string/title_activity_http_urlconnection" >
        </activity>
        <activity
            android:name=".AndroidHttpClientActivity"
            android:label="@string/title_activity_android_http_client" >
        </activity>
        <activity
            android:name=".HighestNumberSharedPreferencesActivity"
            android:label="@string/title_activity_highest_number_shared_preferences" >
        </activity>
        <activity
            android:name=".RandomQuotesPreferencesActivity"
            android:label="@string/title_activity_random_quotes_preferences" >
        </activity>
    </application>

</manifest>
